.grid {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
  }
.box {
    background: #444;
    border: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AAA;
  }
  .winnerBox {
    background: rgb(17, 133, 17);
    border: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AAA;
  }
 .box:hover {
    background-color:  rgb(87, 87, 87);
 } 